$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xlarge: 55px;

$font-size-default: $font-size-medium;

$line-height-factor: 1.3;

.ui-font-small {
  font-size: $font-size-small;
}

.ui-font-medium {
  font-size: $font-size-medium;
}

.ui-font-large {
  font-size: $font-size-large;
}

.ui-font-xlarge {
  font-size: $font-size-xlarge;
}

@mixin font-family-default {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
