$home-hpadding: 40px;
$home-tab-size: image-width('icon_calendar.png');
$home-tab-margin: floor(($blueprint-container-size - 5 * $home-tab-size - 2 * $home-hpadding) / 4);
$home-content-margin: 2 * $home-hpadding;
$home-section-vmargin: $home-hpadding;

.ui-home-content {
  padding-left: $home-hpadding;
  padding-right: $home-hpadding;
}

.ui-home-header {
  $width: image-width('header_bg.jpg');
  $right-pad: 20px;

  position: relative;
  width: $width / 2 - $right-pad;
  padding-left: $width / 2;
  padding-right: $right-pad;
  height: image-height('header_bg.jpg');
  background: image-url('header_bg.jpg');
}

.ui-home-header-speech-bubble {
  $top-pad: 40px;
  $right-pad: 5px;

  position: absolute;
  left: 150px;
  top: -30px;
  width: image-width('speechbubble.png') - $right-pad;
  height: image-height('speechbubble.png') - $top-pad;
  padding: $top-pad $right-pad 0 0;
  background: image-url('speechbubble.png');
  z-index: 1;
  text-align: center;
  font-size: $font-size-large;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ui-home-header-heading {
  margin-left: -15px;
  margin-bottom: 10px;
}

.ui-home-header-social-icons {
  margin-top: 10px;
  text-align: right;
}

.ui-home-tabs {
  padding-top: $home-section-vmargin;
  padding-bottom: $home-section-vmargin;
}

.ui-home-tab-container {
  position: relative;
  width: $home-tab-size;
  display: inline-block;
  float: left;
  margin-left: $home-tab-margin;

  &:first-child {
    margin-left: 0;
  }
}

.ui-home-tab-text {
  position: absolute;
  top: -$home-hpadding;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  white-space: nowrap;
  line-height: $home-hpadding;
  text-align: center;
}

@mixin home-tab($image-name) {
  display: block;
  width: $home-tab-size;
  height: $home-tab-size;
  line-height: 0;
  background: image-url('icon_' + $image-name + '.png');

  &:hover {
    background: image-url('icon_' + $image-name + '_hover.png');
  }
}

.ui-home-tab-calendar {
  @include home-tab('calendar');
}

.ui-home-tab-support {
  @include home-tab('money');
}

.ui-home-tab-learn {
  @include home-tab('learn');
}

.ui-home-tab-info {
  @include home-tab('info');
}

.ui-home-tab-about {
  @include home-tab('about');
}

.ui-home-banner-container {
  position: relative;
}

.ui-home-banner-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  color: white;
}

.ui-sponsor-box {
  text-align: center;
  margin: 20px 0;
}

.ui-gatherball-logo {
  display: inline-block;
  text-align: right;
}

.ui-gatherball-link {
  &, &:hover {
    text-decoration: none;
  }
}

.ui-gatherball-logo-text {
  position: relative;
  top: -15px;
  font-size: 13px;
  color: #93c949;
}

.ui-home-section {
  position: relative;
  padding-left: image-width('icon_calendar.png') + $home-content-margin;
  padding-right: 20px;
  padding-top: $home-section-vmargin;
  padding-bottom: $home-section-vmargin;
  min-height: image-height('icon_calendar.png');
}

.ui-home-section-icon {
  position: absolute;
  left: 0;
  top: $home-section-vmargin;
}

.ui-home-heading {
  margin-top: -8px;
}

.ui-buy-link {
  display: inline-block;
}

.ui-buy-button-container {
  position: relative;
  padding-left: image-width('buy_button.png') + 5px;
  line-height: image-height('buy_button.png');
  margin-top: 10px;
}

.ui-buy-button {
  position: absolute;
  left: 0;
  top: 0;
}

#about {
  h3 {
    margin-top: $paragraph-margins;
  }
  .ui-about-us-first {
    margin-top: 0;
  }
}

.ui-headshot {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}

.ui-about-social-links {
  text-align: right;
}

.ui-gap-text {
  color: white;
  text-align: center;
  font-size: $font-size-medium;
  line-height: 2em;
}

.ui-calendar {
  line-height: 0;
  text-align: center;
}

.ui-calendar-pic-row {
  display: inline-block;
}

.ui-calendar-pic {
  float: left;
  display: inline-block;
  line-height: 0;
  margin-top: 8px;
  margin-left: 8px;

  &:first-child {
    margin-left: 0;
  }
}
