.ui-font-small {
  font-size: 14px;
}

.ui-font-medium {
  font-size: 16px;
}

.ui-font-large {
  font-size: 24px;
}

.ui-font-xlarge {
  font-size: 48px;
}

.ui-hidden {
  display: none;
}

.ui-center {
  text-align: center;
}

.ui-clearfix {
  *zoom: 1;
}
.ui-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.popover p {
  margin: 0;
}

.ui-container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.ui-container:after {
  content: "";
  display: table;
  clear: both;
}

p {
  margin-top: 0;
  margin-bottom: 14px;
}

html {
  background: black;
}

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  overflow-y: scroll;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

a, a:hover, a:active, a:focus, a:visited {
  outline: 0;
  color: #f15722;
}

img {
  border: none;
}

.ui-content-frame {
  background: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ui-home-content {
  padding-left: 40px;
  padding-right: 40px;
}

.ui-home-header {
  position: relative;
  width: 460px;
  padding-left: 480px;
  padding-right: 20px;
  height: 421px;
  background: url('../img/header_bg.jpg?2007e7158373e40d093380f6214bed23');
}

.ui-home-header-speech-bubble {
  position: absolute;
  left: 150px;
  top: -30px;
  width: 259px;
  height: 134px;
  padding: 40px 5px 0 0;
  background: url('../img/speechbubble.png?c618b3eb5a8ee463d398d3927a1b1ad3');
  z-index: 1;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
}
.ui-home-header-speech-bubble:hover {
  text-decoration: underline;
}

.ui-home-header-heading {
  margin-left: -15px;
  margin-bottom: 10px;
}

.ui-home-header-social-icons {
  margin-top: 10px;
  text-align: right;
}

.ui-home-tabs {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ui-home-tab-container {
  position: relative;
  width: 120px;
  display: inline-block;
  float: left;
  margin-left: 70px;
}
.ui-home-tab-container:first-child {
  margin-left: 0;
}

.ui-home-tab-text {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  white-space: nowrap;
  line-height: 40px;
  text-align: center;
}

.ui-home-tab-calendar {
  display: block;
  width: 120px;
  height: 120px;
  line-height: 0;
  background: url('../img/icon_calendar.png?d5e6daab54958de74f35732287a09af1');
}
.ui-home-tab-calendar:hover {
  background: url('../img/icon_calendar_hover.png?7435bc5c2d2bcf08131f019843d1c07a');
}

.ui-home-tab-support {
  display: block;
  width: 120px;
  height: 120px;
  line-height: 0;
  background: url('../img/icon_money.png?ba46b54a463c202a6331869bd50a8c75');
}
.ui-home-tab-support:hover {
  background: url('../img/icon_money_hover.png?cc00b6fb574e61d721d32411552e8c8d');
}

.ui-home-tab-learn {
  display: block;
  width: 120px;
  height: 120px;
  line-height: 0;
  background: url('../img/icon_learn.png?96633b0e311084ec65a30fe75fd0393f');
}
.ui-home-tab-learn:hover {
  background: url('../img/icon_learn_hover.png?8d702da07b269d2366ba7fd06ade0022');
}

.ui-home-tab-info {
  display: block;
  width: 120px;
  height: 120px;
  line-height: 0;
  background: url('../img/icon_info.png?8b6c5809d5caa8a37180ec8603fc5969');
}
.ui-home-tab-info:hover {
  background: url('../img/icon_info_hover.png?862a6c25a49d24e989eb129410813117');
}

.ui-home-tab-about {
  display: block;
  width: 120px;
  height: 120px;
  line-height: 0;
  background: url('../img/icon_about.png?a5e365e4378ddfefd6eac9b020482b44');
}
.ui-home-tab-about:hover {
  background: url('../img/icon_about_hover.png?7c03bd556decb9bd6f7da91ea2b0090c');
}

.ui-home-banner-container {
  position: relative;
}

.ui-home-banner-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  color: white;
}

.ui-sponsor-box {
  text-align: center;
  margin: 20px 0;
}

.ui-gatherball-logo {
  display: inline-block;
  text-align: right;
}

.ui-gatherball-link, .ui-gatherball-link:hover {
  text-decoration: none;
}

.ui-gatherball-logo-text {
  position: relative;
  top: -15px;
  font-size: 13px;
  color: #93c949;
}

.ui-home-section {
  position: relative;
  padding-left: 200px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 120px;
}

.ui-home-section-icon {
  position: absolute;
  left: 0;
  top: 40px;
}

.ui-home-heading {
  margin-top: -8px;
}

.ui-buy-link {
  display: inline-block;
}

.ui-buy-button-container {
  position: relative;
  padding-left: 97px;
  line-height: 26px;
  margin-top: 10px;
}

.ui-buy-button {
  position: absolute;
  left: 0;
  top: 0;
}

#about h3 {
  margin-top: 14px;
}
#about .ui-about-us-first {
  margin-top: 0;
}

.ui-headshot {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}

.ui-about-social-links {
  text-align: right;
}

.ui-gap-text {
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 2em;
}

.ui-calendar {
  line-height: 0;
  text-align: center;
}

.ui-calendar-pic-row {
  display: inline-block;
}

.ui-calendar-pic {
  float: left;
  display: inline-block;
  line-height: 0;
  margin-top: 8px;
  margin-left: 8px;
}
.ui-calendar-pic:first-child {
  margin-left: 0;
}
