.ui-font-small {
  font-size: 14px;
}

.ui-font-medium {
  font-size: 16px;
}

.ui-font-large {
  font-size: 24px;
}

.ui-font-xlarge {
  font-size: 48px;
}

.ui-hidden {
  display: none;
}

.ui-center {
  text-align: center;
}

.ui-clearfix {
  *zoom: 1;
}
.ui-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.popover p {
  margin: 0;
}

.ui-container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.ui-container:after {
  content: "";
  display: table;
  clear: both;
}

p {
  margin-top: 14px;
  margin-bottom: 14px;
}

html {
  background: black;
}

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  overflow-y: scroll;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

a, a:hover, a:active, a:focus, a:visited {
  outline: 0;
  color: #f15722;
}

.ui-content-frame {
  background: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ui-home-content {
  padding-left: 40px;
  padding-right: 40px;
}

.ui-home-header {
  width: 460px;
  padding-left: 480px;
  padding-right: 20px;
  height: 421px;
  background: url('../img/header_bg.jpg?2cfe2cb1c7b178805b26a230a8ec8e0d');
}

.ui-home-header-social-icons {
  margin-top: 10px;
  text-align: right;
}

.ui-home-tabs {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ui-home-tab-container {
  position: relative;
  width: 120px;
  display: inline-block;
  float: left;
  margin-left: 70px;
}
.ui-home-tab-container:first-child {
  margin-left: 0;
}

.ui-home-tab-text {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  white-space: nowrap;
  line-height: 40px;
  text-align: center;
}

.ui-home-banner-container {
  position: relative;
}

.ui-home-banner-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -16.65px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.ui-home-section {
  position: relative;
  padding-left: 200px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 120px;
}

.ui-home-section-icon {
  position: absolute;
  left: 0;
  top: 40px;
}

.ui-buy-link {
  display: inline-block;
}

.ui-buy-button-container {
  position: relative;
  padding-left: 97px;
  line-height: 26px;
  margin-top: 10px;
}

.ui-buy-button {
  position: absolute;
  left: 0;
  top: 0;
}

#about h3 {
  margin-top: 14px;
}
#about p {
  margin-top: 0;
}

.ui-gap-text {
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 2em;
}

.ui-calendar-pic-row {
  display: inline-block;
}

.ui-calendar-pic {
  float: left;
  display: inline-block;
  line-height: 0;
  margin-top: 8px;
  margin-left: 8px;
}
.ui-calendar-pic:first-child {
  margin-left: 0;
}
